@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Untitled Document</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
</head>
<body>
    <div class="form-container text-center">
        <div class="logo">
            <img src="../images/logo.png" class="img-responsive">
        </div>
        <h4>مرحبا بك مع مدرسك الخاص</h4>
        <div class="buttons-container">
            <button class="btn"><a href="login.html">الدخول</a></button>
            <button class="btn"><a href="signup.html">تسجيل</a></button>
        </div>
        <div class="clearfix"></div>
    </div>


    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
